@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto Flex Variable', Arial, Helvetica, sans-serif;
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  #root {
    @apply h-full;
  }

  :root {
    --ansi-black: theme(ansi.colors.vscode.black);
    --ansi-red: theme(ansi.colors.vscode.red);
    --ansi-green: theme(ansi.colors.vscode.green);
    --ansi-yellow: theme(ansi.colors.vscode.yellow);
    --ansi-blue: theme(ansi.colors.vscode.blue);
    --ansi-magenta: theme(ansi.colors.vscode.magenta);
    --ansi-cyan: theme(ansi.colors.vscode.cyan);
    --ansi-white: theme(ansi.colors.vscode.white);
    --ansi-bright-black: theme(ansi.colors.vscode.bright-black);
    --ansi-bright-red: theme(ansi.colors.vscode.bright-red);
    --ansi-bright-green: theme(ansi.colors.vscode.bright-green);
    --ansi-bright-yellow: theme(ansi.colors.vscode.bright-yellow);
    --ansi-bright-blue: theme(ansi.colors.vscode.bright-blue);
    --ansi-bright-magenta: theme(ansi.colors.vscode.magenta);
    --ansi-bright-cyan: theme(ansi.colors.vscode.cyan);
    --ansi-bright-white: theme(ansi.colors.vscode.white);
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --ansi-black: theme(ansi.colors.xtermjs.black);
    --ansi-red: theme(ansi.colors.xtermjs.red);
    --ansi-green: theme(ansi.colors.xtermjs.green);
    --ansi-yellow: theme(ansi.colors.xtermjs.yellow);
    --ansi-blue: theme(ansi.colors.xtermjs.blue);
    --ansi-magenta: theme(ansi.colors.xtermjs.magenta);
    --ansi-cyan: theme(ansi.colors.xtermjs.cyan);
    --ansi-white: theme(ansi.colors.xtermjs.white);
    --ansi-bright-black: theme(ansi.colors.xtermjs.bright-black);
    --ansi-bright-red: theme(ansi.colors.xtermjs.bright-red);
    --ansi-bright-green: theme(ansi.colors.xtermjs.bright-green);
    --ansi-bright-yellow: theme(ansi.colors.xtermjs.bright-yellow);
    --ansi-bright-blue: theme(ansi.colors.xtermjs.bright-blue);
    --ansi-bright-magenta: theme(ansi.colors.xtermjs.magenta);
    --ansi-bright-cyan: theme(ansi.colors.xtermjs.cyan);
    --ansi-bright-white: theme(ansi.colors.xtermjs.white);
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .rounded-tbody {
    @apply relative;
  }

  .rounded-table-wrapper {
    @apply ring-0 !important;
    @apply shadow-none !important;
    @apply inline-block;
  }

  .rounded-table-wrapper table {
    @apply border-separate border-spacing-0;
  }

  .rounded-thead tr:first-child th {
    @apply bg-chrome-50;
  }

  .rounded-thead tr:first-child th,
  .rounded-tbody tr:last-child td,
  .rounded-tbody td:first-child,
  .rounded-tbody td:last-child {
    @apply border-chrome-300;
  }

  .rounded-thead tr:first-child th {
    @apply border-t;
  }

  .rounded-tbody tr:last-child td {
    @apply border-b;
  }

  .rounded-thead th:first-child,
  .rounded-tbody td:first-child {
    @apply border-l;
  }

  .rounded-thead th:last-child,
  .rounded-tbody td:last-child {
    @apply border-r;
  }

  .rounded-thead tr:first-child th:first-child {
    @apply rounded-tl;
  }

  .rounded-thead tr:first-child th:last-child {
    @apply rounded-tr;
  }

  .rounded-tbody tr:last-child td:first-child {
    @apply rounded-bl;
  }

  .rounded-tbody tr:last-child td:last-child {
    @apply rounded-br;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
